In [1]:
import pandas as pd
import numpy as np
import yfinance as yf

In [2]:
# stocks = ['BAC', 'AXP', 'KO', 'VZ', 'MCO', 'USB', 'DVA', 'BK', 'CVX', 'VRSN', 'SHV']
# stocks = ['UAL', 'AAL', 'GE', 'SPY', 'XOM', 'JPM', 'F', 'CSCO', 'NKE', 'SHV']
# stocks = ['UAL', 'AAL', 'GE', 'SPY', 'XOM', 'JPM', 'F', 'CSCO', 'NKE', 'SHV']
stocks = ['UAL', 'AAL', 'GE', 'SPY', 'XOM', 'JPM', 'F', 'CSCO', 'NKE', 'XLY', 'XLP', 'XLE', 'XLF', 'XLV', 'XLI', 'XLB', 'XLK', 'XLU', 'SPY', 'MSFT']

In [3]:
info = pd.DataFrame(columns=['desc'])
for stock in stocks:
    info.loc[stock] = stock

In [4]:
# Getting Price information
tickers = list(info.index.values)
df = yf.download(tickers, start="2009-04-30", end="2021-12-30")['Adj Close']

[*********************100%***********************]  9 of 9 completed

In [5]:
# Resampling to monthly data and changing dataframe to contain returns not share price.
prices = df.resample('M').last()
returns = prices.pct_change().iloc[1:,:]
returns

,XLB,XLE,XLF,XLI,XLK,XLP,XLU,XLV,XLY
Date,,,,,,,,,
2009-05-31,0.058433,0.128877,0.139795,0.033548,0.023189,0.050909,0.035590,0.068239,-0.007299
2009-06-30,-0.045372,-0.065489,-0.017856,-0.017042,0.036397,0.001988,0.053716,0.023701,0.002534
2009-07-31,0.128682,0.053486,0.088703,0.087432,0.081823,0.066551,0.037648,0.059293,0.094888
2009-08-31,0.023695,0.010865,0.129900,0.047738,0.016243,0.012235,0.010021,0.026911,0.035220
2009-09-30,0.042217,0.058423,0.019477,0.058338,0.046323,0.033109,0.013780,0.006151,0.053488
...,...,...,...,...,...,...,...,...,...
2021-08-31,0.018924,-0.020044,0.051479,0.011126,0.035593,0.010488,0.038957,0.023156,0.017846
2021-09-30,-0.071886,0.089315,-0.018425,-0.060798,-0.058399,-0.041392,-0.060932,-0.055184,-0.021408
2021-10-31,0.075970,0.103283,0.072742,0.067968,0.081771,0.035009,0.047433,0.051218,0.120925
2021-11-30,-0.005522,-0.050113,-0.057129,-0.035601,0.044512,-0.013474,-0.017038,-0.030564,0.016356
2021-12-31,0.074882,0.033545,0.037349,0.053279,0.044409,0.100536,0.089077,0.092597,0.007523

In [6]:
# Getting Excess Returns (SHV is the monthly treasury yield)
# excess = returns.subtract(returns['SHV'], axis=0)
# excess = excess.drop(columns=['SHV'])

In [7]:
with pd.ExcelWriter('industry_portfolio.xlsx') as writer:
    returns.to_excel(writer, sheet_name='returns')