In [77]:
import pandas as pd
import numpy as np
import statsmodels.api as sm

In [78]:
industries = pd.read_excel('industry_portfolio.xlsx', 'total returns')
industries.set_index('Date', inplace=True)
industries

,AAL,CSCO,F,GE,JPM,NKE,SHV,SPY,UAL,XLB,XLE,XLF,XLI,XLK,XLP,XLU,XLV,XLY
Date,,,,,,,,,,,,,,,,,,
2009-05-31,-0.319261,-0.042443,-0.038462,0.065612,0.118182,0.087288,-0.000472,0.058453,-0.054878,0.058433,0.128878,0.139795,0.033547,0.023188,0.050909,0.035590,0.068238,-0.007299
2009-06-30,-0.058140,0.008108,0.055652,-0.123408,-0.075610,-0.088458,0.000599,-0.000654,-0.313978,-0.045372,-0.065489,-0.017856,-0.017042,0.036397,0.001989,0.053716,0.023702,0.002534
2009-07-31,0.205762,0.180161,0.317957,0.143345,0.134762,0.093859,-0.000027,0.074606,0.291536,0.128682,0.053486,0.088703,0.087432,0.081823,0.066551,0.037648,0.059293,0.094887
2009-08-31,0.160409,-0.018628,-0.050000,0.037313,0.124450,-0.022069,0.000436,0.036940,0.512136,0.023695,0.010866,0.129900,0.047738,0.016244,0.012235,0.010021,0.026911,0.035219
2009-09-30,0.382353,0.089815,-0.051316,0.188285,0.008284,0.173584,-0.000009,0.035457,0.479936,0.042217,0.058424,0.019476,0.058338,0.046323,0.033110,0.013780,0.006152,0.053488
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-07-31,-0.039132,0.052001,-0.061238,-0.037890,-0.018551,0.084277,0.000000,0.024412,-0.106521,0.020775,-0.083163,-0.004633,0.009375,0.038873,0.022009,0.043334,0.049226,0.010529
2021-08-31,-0.021590,0.065920,-0.065950,0.017471,0.053828,-0.014913,-0.000181,0.029760,-0.004495,0.018924,-0.020045,0.051479,0.011126,0.035593,0.010488,0.038957,0.023156,0.017846
2021-09-30,0.029087,-0.077770,0.086723,-0.021818,0.023382,-0.118429,0.000000,-0.046605,0.022791,-0.071886,0.089315,-0.018425,-0.060798,-0.058400,-0.041392,-0.060932,-0.055184,-0.021408
2021-10-31,-0.064327,0.035240,0.206215,0.017859,0.044131,0.151897,-0.000272,0.070163,-0.030061,0.075970,0.103283,0.072742,0.067968,0.081771,0.035009,0.047433,0.051218,0.120925
2021-11-30,-0.076042,-0.003752,0.157438,-0.061695,-0.050974,0.015422,0.000000,0.011649,-0.078023,0.019737,-0.027319,-0.034029,-0.010527,0.053303,0.012491,0.012554,-0.011134,0.030276

# Question 1

In [79]:
stocks = industries.columns

data_list = []
X = sm.add_constant(industries['SPY'])
for stock in stocks:
    y = industries[stock]
    results = sm.OLS(y, X, missing='drop').fit()
    
    # Alpha, Beta, and R-Squared
    params = results.params
    alpha = params[0] * 12
    beta = params[1]
    r_squared = results.rsquared
    
    # Info ratio
    info_ratio = (alpha / 12) / results.resid.std() *np.sqrt(12)
    
    # Treynor Ratio
    treynor_ratio = y.mean() / beta * 12
    
    # Adding data to DataFrame
    frame = {"Stock":stock, "Alpha":alpha, "Beta":beta, 
             "R-Squared":r_squared, "Info Ratio":info_ratio, 
            "Treynor Ratio":treynor_ratio}
    data_list.append(frame)
    
df = pd.DataFrame(data_list)
df.set_index('Stock', inplace=True)
display(df)
df.idxmax()

              Alpha      Beta  R-Squared  Info Ratio  Treynor Ratio
Stock
AAL    5.029353e-02  1.274233   0.113343    0.102688       0.201949
CSCO  -4.428680e-02  1.136308   0.390821   -0.227161       0.123505
F     -3.770840e-02  1.325899   0.315277   -0.140428       0.134039
GE    -1.259451e-01  1.228549   0.296366   -0.484137       0.059964
JPM   -3.391169e-02  1.334948   0.533925   -0.197850       0.137076
NKE    1.036103e-01  0.856050   0.274417    0.541631       0.283512
SHV    5.675595e-03 -0.004715   0.059743    2.207893      -1.041227
SPY    3.382711e-17  1.000000   1.000000    1.173604       0.162479
UAL    7.442149e-02  1.333821   0.135103    0.160469       0.218275
XLB   -6.143055e-02  1.219468   0.783646   -0.697638       0.112104
XLE   -1.525760e-01  1.440958   0.562976   -0.874513       0.056594
XLF   -4.164465e-02  1.213552   0.759622   -0.443905       0.128163
XLI   -3.066496e-02  1.172286   0.856240   -0.464543       0.136321
XLK    4.222282e-02  1.040655   0.806909    0.603545       0.203052
XLP    2.887386e-02  0.612830   0.553579    0.381787       0.209595
XLU    6.338346e-02  0.359292   0.144300    0.527155       0.338891
XLV    3.718886e-02  0.767154   0.647739    0.478340       0.210955
XLY    2.347287e-02  1.098810   0.857861    0.381886       0.183841

Alpha            NKE
Beta             XLE
R-Squared        SPY
Info Ratio       SHV
Treynor Ratio    XLU
dtype: object

XLE is the most volatile relative to the stock market. It has a beta of 1.43 with SPY.

# Return Decomposition

In [80]:
y_data = industries.iloc[:,:9]
stocks = y_data.columns
data_list = []
betas = pd.DataFrame()

X=sm.add_constant(industries.iloc[:,9:])

for stock in stocks:
    y = y_data[stock]
    results = sm.OLS(y, X, missing='drop').fit()
    
    
    # Alpha and R-Squared
    params = results.params
    alpha = params[0]
    
    betas.append(params[1:], ignore_index=True)
    # Highest R-Squared tells us which stock is best replicated
    r_squared = results.rsquared
    
     # Adding to dataframe
    frame = {"Stock":stock, "R-Squared":r_squared, 
             "Alpha":alpha}
    data_list.append(frame)

df = pd.DataFrame(data_list)
df.set_index('Stock', inplace=True)
df

       R-Squared     Alpha
Stock
AAL     0.258266  0.005167
CSCO    0.445795 -0.005010
F       0.437331  0.003117
GE      0.472456 -0.003155
JPM     0.863944  0.003303
NKE     0.380158  0.006381
SHV     0.126050  0.000439
SPY     0.994957 -0.000375
UAL     0.280321  0.008399

In [81]:
df.idxmax()

R-Squared    SPY
Alpha        UAL
dtype: object

Spy is best replicated given it has the highest R-Squared value (makes sense because SPY is the overall market so it's replicated well by the industry baskets)

In [82]:
# Tracking/Mimicking a stock using a basket of other stocks and Regressions
# ---- Run a multivariable regression on Stock vs Basket of stocks
# ----- In this case Cisco vs the ETFS (SPY, XLK, XLV, etc...)
replication_stocks = list(industries.columns)[9:]

X = sm.add_constant(industries[replication_stocks])
y = industries['NKE']
results = sm.OLS(y, X, missing='drop').fit()

# Betas tell us for every 1 dollar invested into AAPL
# Invest beta dolalrs in the specific security.
betas = list(results.params[1:])

# R_Squared tells us how well the portfolio replicates Apple
r_squared = results.rsquared


# Print data
etfs = {"ETFS": replication_stocks}
df = pd.DataFrame(etfs)
df.set_index('ETFS',inplace=True)
df['Beta'] = betas
print(df)
print("R-Squared: {}".format(r_squared))

          Beta
ETFS
XLB  -0.093019
XLE  -0.140222
XLF   0.001239
XLI   0.212994
XLK  -0.039439
XLP   0.302535
XLU  -0.245505
XLV  -0.199027
XLY   0.928807
R-Squared: 0.38015755396579143

You would invest beta dollars into each market portfolio for every 1 dollar invested into Nike.
It tracks it pretty poorly with an R-Squared of just .38

In [83]:
# Hedging Exposure to certain industry/market
"""
If you want to hedge exposure, run a linear regression of a security vs
the industry/market you want to hedge yourself against. 
The resulting Beta means go short Beta dollars for every 1 dollar invested
into the security you're hedging.
"""

# Hedging AAPL against the tech industry
y = industries['AAL']
X = sm.add_constant(industries['XLK'])

results = sm.OLS(y, X, missing = 'drop').fit()
beta = results.params[1]

print(f"Beta: {beta}")

Beta: 0.9342325356485708

For every dollar of Apple you would go short .936 dollars into XLK (they're highly correlated in this sence)

# Fama French

In [84]:
fama = pd.read_excel('fama_french_data.xlsx', 'excess returns')
fama.set_index('Unnamed: 0', inplace=True)
fama

               MKT     SMB     HML     UMD
Unnamed: 0
2009-05-31  0.0521 -0.0252  0.0037 -0.1249
2009-06-30  0.0043  0.0266 -0.0272  0.0548
2009-07-31  0.0772  0.0187  0.0484 -0.0558
2009-08-31  0.0333 -0.0108  0.0763 -0.0907
2009-09-30  0.0408  0.0243  0.0104 -0.0479
...            ...     ...     ...     ...
2021-07-31  0.0127 -0.0396 -0.0175 -0.0229
2021-08-31  0.0290 -0.0048 -0.0013  0.0252
2021-09-30 -0.0437  0.0080  0.0509  0.0157
2021-10-31  0.0665 -0.0228 -0.0044  0.0321
2021-11-30 -0.0155 -0.0135 -0.0052  0.0082

[151 rows x 4 columns]

In [88]:
industries = pd.read_excel('industry_portfolio.xlsx', 'excess returns')
industries.set_index('Date', inplace=True)
industries

,AAL,CSCO,F,GE,JPM,NKE,SPY,UAL,XLB,XLE,XLF,XLI,XLK,XLP,XLU,XLV,XLY
Date,,,,,,,,,,,,,,,,,
2009-05-31,-0.318790,-0.041972,-0.037990,0.066084,0.118654,0.087759,0.058925,-0.054407,0.058905,0.129349,0.140267,0.034019,0.023660,0.051381,0.036062,0.068709,-0.006827
2009-06-30,-0.058739,0.007509,0.055053,-0.124007,-0.076209,-0.089057,-0.001253,-0.314578,-0.045971,-0.066088,-0.018455,-0.017641,0.035798,0.001389,0.053117,0.023103,0.001935
2009-07-31,0.205789,0.180188,0.317985,0.143372,0.134789,0.093886,0.074633,0.291563,0.128709,0.053513,0.088730,0.087459,0.081851,0.066578,0.037675,0.059321,0.094915
2009-08-31,0.159973,-0.019064,-0.050436,0.036877,0.124014,-0.022505,0.036504,0.511700,0.023259,0.010430,0.129464,0.047302,0.015808,0.011799,0.009585,0.026475,0.034783
2009-09-30,0.382362,0.089824,-0.051307,0.188294,0.008293,0.173594,0.035466,0.479945,0.042226,0.058433,0.019485,0.058347,0.046333,0.033119,0.013789,0.006161,0.053498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-07-31,-0.039132,0.052001,-0.061238,-0.037890,-0.018551,0.084277,0.024412,-0.106521,0.020775,-0.083163,-0.004633,0.009375,0.038873,0.022009,0.043334,0.049226,0.010529
2021-08-31,-0.021409,0.066101,-0.065769,0.017652,0.054009,-0.014732,0.029941,-0.004314,0.019105,-0.019864,0.051660,0.011307,0.035774,0.010669,0.039138,0.023336,0.018027
2021-09-30,0.029087,-0.077770,0.086723,-0.021818,0.023382,-0.118429,-0.046605,0.022791,-0.071886,0.089315,-0.018425,-0.060798,-0.058400,-0.041392,-0.060932,-0.055184,-0.021408
2021-10-31,-0.064056,0.035511,0.206486,0.018130,0.044402,0.152169,0.070435,-0.029789,0.076242,0.103554,0.073013,0.068240,0.082042,0.035280,0.047704,0.051489,0.121197
2021-11-30,-0.076042,-0.003752,0.157438,-0.061695,-0.050974,0.015422,0.011649,-0.078023,0.019737,-0.027319,-0.034029,-0.010527,0.053303,0.012491,0.012554,-0.011134,0.030276

In [90]:
stocks = industries.columns
data_list = []
betas = pd.DataFrame()

X=sm.add_constant(fama)

for stock in stocks:
    y = industries[stock]
    results = sm.OLS(y, X, missing='drop').fit()
    
    
    # Alpha and R-Squared
    params = results.params
    alpha = params[0]
    
    betas.append(params[1:], ignore_index=True)
    # Highest R-Squared tells us which stock is best replicated
    r_squared = results.rsquared
    
     # Adding to dataframe
    frame = {"Stock":stock, "R-Squared":r_squared, 
             "Alpha":alpha}
    data_list.append(frame)

df = pd.DataFrame(data_list)
df.set_index('Stock', inplace=True)
df

       R-Squared     Alpha
Stock
AAL     0.209849  0.010191
CSCO    0.404808 -0.002651
F       0.426286  0.001284
GE      0.429175 -0.004595
JPM     0.709386  0.001998
NKE     0.292903  0.007733
SPY     0.994178  0.000220
UAL     0.263649  0.014586
XLB     0.795949 -0.003448
XLE     0.714001 -0.007477
XLF     0.889981 -0.000152
XLI     0.882793 -0.000976
XLK     0.849621  0.002166
XLP     0.640498  0.001607
XLU     0.215738  0.004251
XLV     0.679307  0.002169
XLY     0.879489  0.001473

In [96]:
absolute = df['Alpha'].abs()
MAE = absolute.mean()
MAE

0.003939811863463971

If it were a perfect pricing model we'd expect an Alpha of 0 which is clearly not the case.