In [23]:
import pandas as pd
import numpy as np

In [24]:
data = pd.read_excel('portfolio.xlsx')
data.set_index('Date', inplace=True)
data

,AXP,BAC,BK,CVX,DVA,KO,MCO,USB,VRSN,VZ
Date,,,,,,,,,,
2009-05-31,-0.014200,0.262509,0.090738,0.018851,-0.026701,0.142399,-0.068404,0.054258,0.137983,-0.035125
2009-06-30,-0.058321,0.171680,0.054477,-0.006898,0.095832,-0.016060,-0.038569,-0.064635,-0.209484,0.049641
2009-07-31,0.219046,0.120482,-0.064079,0.048631,0.004880,0.038577,-0.099024,0.138977,0.103699,0.060084
2009-08-31,0.193352,0.188881,0.082592,0.016405,0.040007,-0.021904,0.151869,0.107845,0.036257,-0.032553
2009-09-30,0.007711,-0.037496,-0.020930,0.007015,0.095348,0.110094,-0.248890,-0.031394,0.117989,-0.024798
...,...,...,...,...,...,...,...,...,...,...
2021-08-31,-0.026618,0.088554,0.075965,-0.036508,0.087665,-0.012444,0.014549,0.033490,-0.000327,-0.013802
2021-09-30,0.009460,0.021977,-0.061210,0.048362,-0.110958,-0.061161,-0.067390,0.043666,-0.052021,-0.018000
2021-10-31,0.040157,0.125831,0.148817,0.128808,-0.111719,0.074600,0.138370,0.015918,0.086414,-0.006962
2021-11-30,-0.123152,-0.068823,-0.074040,-0.002303,-0.084204,-0.061872,-0.031426,-0.082867,0.077877,-0.050878
2021-12-31,0.075434,0.008157,0.065069,0.044736,0.200046,0.123656,0.018723,0.022497,0.066503,0.041304

# Question 1

## a.

In [25]:
mu = data.mean()
std = data.std()
sharpe = mu / std
stats = pd.DataFrame({'Mean Return':mu, 'Volatility':std, 'Sharpe': sharpe})
stats

      Mean Return  Volatility    Sharpe
AXP      0.015719    0.070700  0.222339
BAC      0.015862    0.096545  0.164302
BK       0.009038    0.067668  0.133565
CVX      0.008938    0.067041  0.133317
DVA      0.012926    0.076253  0.169511
KO       0.009930    0.046055  0.215600
MCO      0.020985    0.077685  0.270136
USB      0.010886    0.060069  0.181222
VRSN     0.019799    0.068904  0.287339
VZ       0.008654    0.047143  0.183574

## b.

In [26]:
cov = data.cov()
cov

,AXP,BAC,BK,CVX,DVA,KO,MCO,USB,VRSN,VZ
AXP,0.004998,0.003791,0.002464,0.002731,0.001804,0.001350,0.002503,0.002646,0.001697,0.000603
BAC,0.003791,0.009321,0.004784,0.002948,0.002532,0.000929,0.002708,0.003654,0.001597,0.000229
BK,0.002464,0.004784,0.004579,0.002604,0.001829,0.000935,0.002667,0.002562,0.001493,0.000389
CVX,0.002731,0.002948,0.002604,0.004494,0.001465,0.001189,0.001907,0.002158,0.001596,0.001250
DVA,0.001804,0.002532,0.001829,0.001465,0.005815,0.000893,0.001501,0.001183,0.001212,0.000811
KO,0.001350,0.000929,0.000935,0.001189,0.000893,0.002121,0.000742,0.001015,0.001017,0.001027
MCO,0.002503,0.002708,0.002667,0.001907,0.001501,0.000742,0.006035,0.001886,0.001638,0.000638
USB,0.002646,0.003654,0.002562,0.002158,0.001183,0.001015,0.001886,0.003608,0.001163,0.000474
VRSN,0.001697,0.001597,0.001493,0.001596,0.001212,0.001017,0.001638,0.001163,0.004748,0.000576
VZ,0.000603,0.000229,0.000389,0.001250,0.000811,0.001027,0.000638,0.000474,0.000576,0.002222

## c.

Highest Mean Return (In-Order): AAPL, MCO, DVA, VRSN, BAC

Highest Sharpe (In-Order): AAPL, MCO, DVA, CVX, KO

The highest mean return doesn't necessarily mean the highest Sharpe ratio. In this example the top 3 returns had the highest sharpe but the bottom two weren't correlated. Sharpe measures risk to return measures not just return.

# Question 2

# a.

In [27]:
def tangency_portfolio(returns, diag=False):
    mu = returns.mean()
    Sigma = returns.cov()
    if diag:
        sig_d = np.zeros(Sigma.shape)
        np.fill_diagonal(sig_d,Sigma.to_numpy().diagonal())
        Sigma = sig_d
    Sigma_inv = np.linalg.inv(Sigma)
    
    weights = mu @ Sigma_inv
    weights = weights / weights.sum()
    wts_tan = pd.Series(weights, index = mu.index)
    return wts_tan

In [28]:
wts_tan = tangency_portfolio(data)
wts_tan

AXP     0.071700
BAC     0.148923
BK     -0.283506
CVX    -0.178652
DVA     0.074119
KO      0.195236
MCO     0.301760
USB     0.072356
VRSN    0.340963
VZ      0.257101
dtype: float64

# b.

In [29]:
# New Data Returns
returns_tangency = data @ wts_tan

In [30]:
# Calculate and Add
wts_tan_mu = returns_tangency.mean()
wts_tan_std = returns_tangency.std()
wts_tan_sharpe = wts_tan_mu / wts_tan_std
stats.loc['Tangency'] = [wts_tan_mu, wts_tan_std, wts_tan_sharpe] 
stats

          Mean Return  Volatility    Sharpe
AXP          0.015719    0.070700  0.222339
BAC          0.015862    0.096545  0.164302
BK           0.009038    0.067668  0.133565
CVX          0.008938    0.067041  0.133317
DVA          0.012926    0.076253  0.169511
KO           0.009930    0.046055  0.215600
MCO          0.020985    0.077685  0.270136
USB          0.010886    0.060069  0.181222
VRSN         0.019799    0.068904  0.287339
VZ           0.008654    0.047143  0.183574
Tangency     0.018323    0.045986  0.398447

## c.

The tangency portfolio has the highest sharpe ratio out of all the assets. By definition the tangency optimizes the sharpe of any portfolio so it should have the highest sharpe of any assets that it is composed of.

# Question 3

## a.

In [31]:
target = .01
sig = data.cov()
mu = data.mean()

# Delta is the scalar adjustment 
delta = ((np.ones((1,sig.shape[0])) @ np.linalg.inv(sig) @ mu) / (mu @ np.linalg.inv(sig) @ mu)) * target
adjusted = delta * wts_tan

adjusted

AXP     0.039132
BAC     0.081277
BK     -0.154728
CVX    -0.097502
DVA     0.040451
KO      0.106553
MCO     0.164690
USB     0.039490
VRSN    0.186086
VZ      0.140317
dtype: float64

In [32]:
adj_ret = data @ adjusted
adj_ret

Date
2009-05-31    0.030621
2009-06-30   -0.034841
2009-07-31    0.044753
2009-08-31    0.039273
2009-09-30   -0.008356
                ...
2021-08-31    0.001903
2021-09-30   -0.025674
2021-10-31    0.018163
2021-11-30   -0.009826
2021-12-31    0.032596
Length: 152, dtype: float64

## b.

In [33]:
adjusted_mu = adj_ret.mean()
adjusted_std = adj_ret.std()
adjusted_sharpe = adjusted_mu / adjusted_std
stats.loc['Adjusted Tangency'] = [adjusted_mu, adjusted_std, adjusted_sharpe] 
stats

                   Mean Return  Volatility    Sharpe
AXP                   0.015719    0.070700  0.222339
BAC                   0.015862    0.096545  0.164302
BK                    0.009038    0.067668  0.133565
CVX                   0.008938    0.067041  0.133317
DVA                   0.012926    0.076253  0.169511
KO                    0.009930    0.046055  0.215600
MCO                   0.020985    0.077685  0.270136
USB                   0.010886    0.060069  0.181222
VRSN                  0.019799    0.068904  0.287339
VZ                    0.008654    0.047143  0.183574
Tangency              0.018323    0.045986  0.398447
Adjusted Tangency     0.010000    0.025097  0.398447

The mean return is the target that we set (.01) as the portfolio's returns were adjusted to that amount. The Volatility has decreased directly in line with the decrease in mean return so that the Sharpe is equivalent to the original tangency portfolio. Delta is scalar so it only changes the value of the mean return not the ratio.

# Question 4

## a.

In [34]:
new_df = data[['MCO', 'VZ']]

## b.

In [35]:
two_sample = tangency_portfolio(new_df)
two_sample

MCO    0.51425
VZ     0.48575
dtype: float64

## c.

In [36]:
new_df['VZ'] = new_df['VZ'] + 0.005

<ipython-input-36-fc3103bbc6cb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['VZ'] = new_df['VZ'] + 0.005

In [37]:
adj_two_sample = tangency_portfolio(new_df)
adj_two_sample

MCO    0.354664
VZ     0.645336
dtype: float64

## d.

In [38]:
two_sample_wts = pd.DataFrame({'Original':two_sample, 'Adjusted':adj_two_sample})
two_sample_wts

     Original  Adjusted
MCO   0.51425  0.354664
VZ    0.48575  0.645336

The small adjustment of just .005 to Verizon's mean returns shifted the weights from being 50% Moody's to only 35% Moody's and a majority verizon. This suggest that the mean-variance portfolio is extremely sensitive to sample data and specific returns. A small variation in returns can cause the mean-variance to adjust completely. In a market that is constantly changing in dynamics, this can cause issues for the allocation due to its sensitivity.

# Question 5

In [39]:
wts_diag = tangency_portfolio(data, True)
wts_diag

AXP     0.103887
BAC     0.056218
BK      0.065204
CVX     0.065691
DVA     0.073435
KO      0.154644
MCO     0.114871
USB     0.099660
VRSN    0.137756
VZ      0.128634
dtype: float64

All the weights are between 0 and 1.

# Question 6

## a.

In [40]:
in_sample = data.loc[:'2016-12-31']
out_sample = data.loc['2017-01-01':]

## b.

In [41]:
# in_sample
is_norm = tangency_portfolio(in_sample)
is_diag = tangency_portfolio(in_sample, diag=True)
is_df = pd.DataFrame({'Normal':is_norm, 'Diag':is_diag})
is_df

        Normal      Diag
AXP   0.072973  0.101382
BAC   0.025992  0.022426
BK   -0.328361  0.019988
CVX  -0.066632  0.132093
DVA   0.372636  0.120805
KO    0.277866  0.194887
MCO   0.100170  0.046078
USB   0.233891  0.105205
VRSN  0.088063  0.086985
VZ    0.223402  0.170151

## c.

In [42]:
# In_sample
norm_returns = in_sample @is_norm 
diag_returns = in_sample @ is_diag

# --- Normal---
is_norm_mu = norm_returns.mean()
is_norm_std = norm_returns.std()
is_norm_sharpe = is_norm_mu / is_norm_std

# ---Diag---
is_diag_mu = diag_returns.mean()
is_diag_std = diag_returns.std()
is_diag_sharpe = is_diag_mu / is_diag_std

comparison = [{'Mean':is_norm_mu, 'Volatility':is_norm_std, 'Sharpe':is_norm_sharpe}, 
              {'Mean':is_diag_mu, 'Volatility':is_diag_std, 'Sharpe':is_diag_sharpe}]

comparison_df_is = pd.DataFrame(comparison, index=['Normal', 'Diag'])
comparison_df_is

           Mean  Volatility    Sharpe
Normal  0.02303    0.039080  0.589307
Diag    0.01747    0.037456  0.466404

In [43]:
# Out of sample
norm_returns = out_sample @ is_norm 
diag_returns = out_sample @ is_diag

# --- Normal---
is_norm_mu = norm_returns.mean()
is_norm_std = norm_returns.std()
is_norm_sharpe = is_norm_mu / is_norm_std

# ---Diag---
is_diag_mu = diag_returns.mean()
is_diag_std = diag_returns.std()
is_diag_sharpe = is_diag_mu / is_diag_std

comparison = [{'Mean':is_norm_mu, 'Volatility':is_norm_std, 'Sharpe':is_norm_sharpe}, 
              {'Mean':is_diag_mu, 'Volatility':is_diag_std, 'Sharpe':is_diag_sharpe}]

comparison_df_is = pd.DataFrame(comparison, index=['Normal', 'Diag'])
comparison_df_is

            Mean  Volatility    Sharpe
Normal  0.010176    0.046562  0.218547
Diag    0.009932    0.040905  0.242815

The diaganolized returns are less subject to change out of sample vs in sample. The unadjusted mean-variance portfolio's out of sample sharpe dropped below the sharpe of the diaganolized portfolio. The unadjusted version is extremely sensatized to in-sample data.